:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Softer-red: hsl(7, 53%, 59%);
    --Yellow: hsl(51, 100%, 49%);
    --Soft-yellow: hsl(51, 64%, 55%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 63%, 45%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --font-size: 1.8rem;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Fraunces",  serif;
    font-size: var(--font-size);
    font-weight: 700;
}


/* Header Section */

.header {
    background-image: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: var(--White);
    height: 73rem;
    padding: 3rem;
    position: relative;
    width: 100%;
}

.header__logo {

}

.header-nav-position {
    position: absolute;
    right: 3rem;
    top: 2rem;
}

.navigation {
    list-style: none;
}

.hamburger-mode {
    position: absolute;
}

.navigation-list {
    display: inline-block;
}

.navigation-list:not(:last-child){
    margin-right: 3rem;
}

.navigation-link {
    color: var(--White);
    text-decoration: none;
}

.navigation-link:hover {
    color: var(--Dark-desaturated-cyan);
}

.hamburger {
    display: none;
}

#back-white {
    background-color: var(--White);
    border-radius: 2rem;
    color: var(--Very-dark-desaturated-blue);
    display: inline-block;
    padding: 1rem 0; 
    text-align: center;
    width: 11rem;
}

#back-white:hover {
    background-color: hsl(199, 100%, 75%);
    color: var(--White);
}



.header__heading {
    font-size: 5rem;
    left: 52%;
    letter-spacing: 1rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20%;
    transform: translate(-52%, -20%);
}

.header__icon {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-60%, -50%);
}


/* Gallery */

.gallery {
    height: auto;
    width: 100%;
}

.gallery__row {
    height: 60rem;
    width: 100%;
}

.gallery__column {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    height: 100%;
    overflow: hidden;
    width: 50%;
}

.transform {
    background-image: url("../images/desktop/image-transform.jpg");
    
}

.stand-out {
    background-image: url("../images/desktop/image-stand-out.jpg");
}


.card {
    padding: 15rem;
}

.card__heading {
    color: var(--Very-dark-desaturated-blue);
    font-size: 5rem;
    margin-bottom: 4rem;
}

.card__text {
    color: var(--Very-dark-grayish-blue);
    font-family: "Barlow",  sans-serif;
    line-height: 1.5;
    margin-bottom: 6rem;
}

.card__link {
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.color-yellow {
    
    border-bottom: 3px solid var(--Soft-yellow);
}

.color-yellow:hover {
    border-bottom: 3px solid var(--Yellow);
}

.color-soft-red {
    border-bottom: 3px solid var(--Softer-red);

}

.color-soft-red:hover {
    border-bottom: 3px solid var(--Soft-red);
}

.custom {
    padding: 40rem 22rem 0;
    text-align: center;
}


.custom__heading {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.color-gray {
    color: var(--Very-dark-grayish-blue);
}

.color-dark-blue {
    color: var(--Dark-blue);
}

.graphic {
    background-image: url("../images/desktop/image-graphic-design.jpg");
}

.photography {
    background-image: url("../images/desktop/image-photography.jpg");
}

/* Client */

.client {
    margin-bottom: 20rem;
    padding: 15rem;
    width: 100%;
} 

.client__heading {
    color: var(--Very-dark-grayish-blue);
    font-weight: 700;
    letter-spacing: 1rem;
    margin-bottom: 7rem;
    text-align: center;
    text-transform: uppercase;
}

.client__row {
    height: 25rem;
    width: 100%;
}

.client__card {
    float: left;
    padding: 4rem;
    text-align: center;
    width: 33.3333%;
}

.client__image {
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5rem;
}

.client__testimonial {
    color: var(--Very-dark-grayish-blue);
    line-height: 1.5;
    margin-bottom: 5rem;
}

.client__name {
    color: var(--Very-dark-desaturated-blue);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.client__profession {
    color: var(--Grayish-blue);
}

/* Photos */
.photos {
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

.photos__photo {
    float: left;
    width: 25%;
}

/* Footer */

.footer {
    background-color: var(--Dark-moderate-cyan);
    color: var(--Dark-desaturated-cyan);
    height: 30rem;
    margin-bottom: 2rem;
    padding: 5rem 10rem;
    text-align: center;
}

.footer__logo {
    color: var(--Dark-desaturated-cyan);
    margin-bottom: 4rem;
}

.footer-link {
    color: var(--Dark-desaturated-cyan);
}

.footer-link:hover {
    color: var(--White);
}

.social-icons:hover {
    fill: var(--White);
} 

.margin-bottom {
    margin-bottom: 7rem;
}



@media only screen and (max-width: 1300px){
    html {
        font-size : 55%;
    }
}

@media only screen and (min-width:  1001px){
    .hamburger-mode {
        display: inline-block !important;
    }
}

@media only screen and (max-width: 1000px){
    /* html {
        font-size : 40%;
    } */

    .header{
        height: 70rem;
    }
    
    .header__heading {
        font-size: 4rem;
        top: 25%;
    }

    .header__icon {
        top: 55%;
    }

    .hamburger {
        background-color: transparent;
        border: none;
        display: inline-block;
        position: absolute;
        right: 3rem;
    }

    .hamburger-mode {
        -webkit-clip-path: polygon(0 5%, 95% 5%, 100% 0, 100% 100%, 0 100%);
        background-color: var(--White);
        display: none;
        height: 40rem;
        padding: 8rem 0 2rem;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -15%);
        width: 80%;
        z-index: 10;
    }

    .hamburger-mode-list {
        display: block;
        font-size: 3rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    .navigation-link {
        color: var(--Very-dark-grayish-blue);
    }

    .navigation-list:not(:last-child){
        margin-right: 0;
    }

    #back-white{
        background-color: var(--Yellow);
        color: var(--Very-dark-desaturated-blue);
        font-weight: 700;
        width: 17.5rem;
    }

    .gallery {
        height: 280rem;
    }

    .gallery__row {
        height: 80rem;
        position: relative;
    }

    .gallery__column{
        float: none;
        height: 40rem;
        width: 100%;
    }

    .card {
        padding: 3rem;
        text-align: center;
    }

    .card__heading {
        font-size: 4rem;
    }

    .custom {
        background-position: center;
        height: 60rem;
        padding: 40rem 4rem 10rem;
    }

    .down {
        position: absolute;
        bottom: 0;
    }

    .client {
        margin-top: 10rem;
        margin-bottom: 10rem;
        padding: 2rem;
        width: 100%;
    } 


    .client__row {
        height: auto;
        width: 100%;
    }
    
    .client__card {
        float: none;
        width: 100%;
    }

    .photos__photo {
        height: 27rem;
        width: 50%;
    }

    .footer-link {
        margin-right: 5rem;
        position: relative;
        left: 2.5rem;
    }

    svg {
        margin-right: 2rem;
    }
}